
.bodya {
    background-image: url(/gelen.jpg);
}



.posit {
    background-color: darkgrey;
    padding: 10px;
    border: 2px solid #fffff6;
    position: fixed;
    width: 110%;
    margin: -44px;
    z-index: 1;
}


.box{
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.telo {
    font-weight: 20;
    margin: 20%;
    margin-top: 45px;
    margin-bottom: 20px;
    bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:bisque;
    opacity: 90%;
    padding: 20px;
}

.hoh {
    width: 100%;
    border-radius: 10% 10% 10% 10%;
}

.zver {
    width: 100%;
    border-radius: 10% 10% 10% 10%;
}

.kyror {
    background: #93fdfd ;
    padding: 20px;
    padding-top: 5px;
    padding-right: 2px;
    border-radius: 30px;
    margin: 20px;
    padding-right: 20px;
    border: 2px solid black;
}

.dostop {
    text-align: center;
    text-decoration: underline;
}

.park {
    border: black 2px solid;
    margin: 0px;
    padding: 10px;
}

.site {
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.site-link {
    text-align: center;
}

a {
    color:coral;
    text-decoration: none;
}

a:hover {
    color:rgb(255, 0, 0);
}

.center {
    text-align: center;
}

.everest-foto {
    width: 200px;
    height: 200px;
}

.everest-text1 {
    text-align: center;
    text-decoration: underline;
    margin-left: 43px;
}

img:hover {
    opacity: 80%;
}

/* main */

.ever {
    background-image: url(ev.jpg);
}

.posit-ever {
    background-color: darkgrey;
    padding: 10px;
    border: 2px solid #fffff6;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: -45px;
    margin-left: -15px;
    opacity: 80%;

}

.skopil {
    background-color: #93fdfd;
    opacity: 60%;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}

.telos {
    margin: 20%;
    background-color: aqua;
    margin-top: 45px;
    margin-bottom: 20px;
    opacity: 80%;
    text-align: center;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ever-fot {
    width: 100%;
    opacity: 100%;
    border-radius: 15px 15px 15px 15px;
    z-index: 2;
}

.und {
    text-decoration: underline;
}

.everblock {
    background-color: #fffff6;
    padding: 5px;
    margin: 20px;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid black;
}

.gelenchik-foto {
    width: 100%;
}

.gelenchik-text1 {
    margin-bottom: 10px;
    text-decoration: solid;
}